.App::before {
  content: "";
  position: relative;
  height: 80px;
}

.ant-layout-header {
  background: var(--color-blue);
  height: 80px;
  padding: 0px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

.ant-menu {
  background-color: var(--color-blue);
  border-bottom: 0px;
}

.ant-menu-item, .ant-menu-submenu-title {
  color: white;
  border-bottom: 0px;
}

.ant-menu-horizontal {
  border-bottom: 0px;
}

.ant-menu-item-selected,
.ant-menu-item-active,
.ant-menu-submenu-selected,
.ant-menu-submenu-active,
.ant-menu-submenu-open  {
  color: white !important;
  font-weight: bold;
  border-bottom: 0px;
}

.nav-text {
  color: white !important;
}
