:root {
  --color-blue: rgb(41, 114, 255);
  --color-yellow: rgb(255, 226, 13);
}

body {
  background-color: var(--color-blue);
}

.Logo-blue {
  background-image: url("./assets/jvam-logo-optimal-blue.png");
  background-size: 60px 60px;
  height: 60px;
  width: 60px;
  margin: 10px;
  float: left;
}
