:root {
  --color-blue: rgb(41, 114, 255);
  --color-yellow: rgb(255, 226, 13);
}

body {
  background-color: var(--color-blue);
}

.Logo-blue {
  background-image: url("./assets/jvam-logo.svg");
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
  margin: 10px;
  float: left;
}
